* text=auto
*.py text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf

# Archivos binarios de Python
*.pyc binary
*.pyo binary
*.pyd binary

# Archivos de log (no deberían estar en el repo, pero por seguridad)
*.log binary export-ignore
logs/ export-ignore