* text=auto
*.py text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.pyc text eol=lf
*.pyo text eol=lf
*.pyd text eol=lf