# Paquetes esenciales
fastapi
uvicorn
python-dotenv
resend
sib_api_v3_sdk

# Base de datos
sqlalchemy
psycopg2-binary
alembic

# Autenticación y seguridad
python-jose[cryptography]
bcrypt
passlib
passlib[bcrypt]

# Validación de datos  
pydantic
pydantic-settings
email-validator
pydantic_core

# Generación de códigos QR
qrcode[pil]
pillow

# Criptografía
cryptography

# Programación de tareas
apscheduler

# Detección de dispositivos
user-agents 

# Manejo de logs
python-multipart

# CORS y ASGI
starlette

# Timezone handling
pytz

# Push Notifications
pywebpush
py-vapid